<main class="main">

  <!--slider-->
  <section class="main-slider-container container-fluid">
    <div id="main-slider" class="carousel slide" data-ride="carousel">

      <div class="slider-nav">
        <input data-target="#main-slider" type="checkbox" id="c1" name="c1" data-slide-to="0"/>
        <label for="c1"><span></span></label>
        <input data-target="#main-slider" type="checkbox" id="c2" name="c2" data-slide-to="1"/>
        <label for="c2"><span></span></label>
        <input data-target="#main-slider" type="checkbox" id="c3" name="c3" data-slide-to="2"/>
        <label for="c3"><span></span></label>
        <input data-target="#main-slider" type="checkbox" id="c4" name="c4" data-slide-to="0"/>
        <label for="c4"><span></span></label>
        <input data-target="#main-slider" type="checkbox" id="c5" name="c5" data-slide-to="1"/>
        <label for="c5"><span></span></label>
      </div>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <h2>Savour the Flavour of our Dinner</h2>
          <p>Enjoy the best in fine dining experiences. A wide variety and ony freshest of ingredients.
            The best food in town, with the highest quality of service.</p>
          <button>Our Dinner Menu</button>
        </div>

        <div class="item">
          <h2>The Joy of Lunch</h2>
          <p>Enjoy the best in fine dining experiences. A wide variety and ony freshest of ingredients.
            The best food in town, with the highest quality of service.</p>
          <button>Our Lunch Menu</button>
        </div>

        <div class="item">
          <h2>There's only one breakfast</h2>
          <p>Enjoy the best in fine dining experiences. A wide variety and ony freshest of ingredients.
            The best food in town, with the highest quality of service.</p>
          <button>Our Breakfast Menu</button>
        </div>
      </div>
    </div>
  </section>

  <!--company slogan-->
  <section class="container-slogan container-fluid">
    <img class="bottom-shadow" src="../images/slider-bottom-shadow.png" alt=""/>

    <div class="company-slogan">
      <h3>"Our awesome company slogan goes right over here, we have the best food around"</h3>
      <h5>Unc elementum lacus in gravida pelentesque urna dolor eleifend felis eleifend</h5>
    </div>
    <img class="stars-quote" src="../images/stars-quote.png" alt="stars">

  </section>

  <!--content home-->

  <section class="container-content-home container">

    <div class="row">

      <div class="content-item recommendations col-md-4">
        <h3 class="recommendations-title">Chef's recommendations</h3>
        <ul class="recommendations-list">
          {{#each recommendations.dishes}}
            {{#if @first}}

              <li class="recommendations-item">
                <img class="food-image img-thumbnail pull-left" src="../images/food-placeholder-1.jpeg" alt="food"/>
                <h5>{{this.name}}</h5>
                <p>{{this.description}}</p>
              </li>

            {{else}} {{#if @last}}

              <li class="recommendations-item">
                <img class="food-image img-thumbnail pull-left" src="../images/food-placeholder-3.jpeg" alt="food"/>
                <h5>{{this.name}}</h5>
                <p>{{this.description}}</p>
              </li>

            {{else}}

              <li class="recommendations-item">
                <img class="food-image img-thumbnail pull-left" src="../images/food-placeholder-2.jpeg" alt="food"/>
                <h5>{{this.name}}</h5>
                <p>{{this.description}}</p>
              </li>

            {{/if}}{{/if}}
          {{/each}}
        </ul>
      </div>

      <div class="content-item location-and-hours col-md-4">
        <h3 class="location-and-hours-title">Location and hours of operation</h3>
        <img class="location-image img-thumbnail"
             src="https://maps.googleapis.com/maps/api/staticmap?center=Telerik+Academy&zoom=17&size=248x169&key=AIzaSyAoNUkQubgikLSOlKt5IeOMopLG9MLwJdM"
             alt="location"/>
        <p class="address">3214 Sunny st. Petaluma, CA 55439</p>
        <p class="work-hours"><span class="mon-fri">Mon-Fri</span>8am-6pm<span class="sat-sun">Sat-Sun</span>8am-10pm
        </p>
      </div>

      <div class="content-item testimonials col-md-4">
        <h3 class="testimonials-title">Customer testimonials</h3>

        <div class="testimonial-dialog">
          <div class="testimonial-author-img pull-left">
            <img class="img-thumbnail" src="../images/user-avatar.png" alt="author image"/>
          </div>
          <h3 class="testimonial-author">{{this.testimonials.author}}</h3>
          <p class="testimonial-article">{{this.testimonials.content}}
          </p>

        </div>
      </div>

    </div> <!--row-->

  </section>

</main>




